body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.weather {
  place-self: center;
  padding: 40px;
  border-radius: 20px;
  background-image: linear-gradient(45deg, pink, blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search_bar {
  display: flex;
  align-items: center;
  gap: 5px;
}
.search_bar input {
  height: 50px;
  width: 200px;
  border: none;
  outline: none;
  border-radius: 12px;
  padding-left: 20px;
  background: rgb(250, 250, 250);
}
.search_bar img {
  width: 50px;
  padding: 12px;
  background: rgb(250, 250, 250);
  border-radius: 50%;
  cursor: pointer;
}
.weather_icon {
  width: 200px;
  margin: 30px 0;
}
.temperature {
  color: white;
  font-size: 30px;
  line-height: 1;
}
.location {
  color: black;
  font-size: 50px;
}
.weather_data {
  width: 100%;
  margin-top: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
}
.weather_data .col {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 20px;
}
.weather_data .col span {
  display: block;
  font-size: 15px;
}
.weather_data .col img {
  width: 30px;
  margin-top: 15px;
}
